.header-container {
    width: 70%;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    margin-bottom: 20px;
    padding: 0;
}

header h3 {
    line-height: 25px;
    font-size: 18px;
}

header p {
    margin-bottom: 30px;
    font-size: 16px;
}

header p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .header-container {
        padding-top: 10vh !important;
    }

    header h1 {
        font-size: 31px;
    }
}

@media screen and (min-width: 600px) {
    .parcel-tracker>input[type=submit] {
        margin-left: 1vw;
    }
}

.about {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.about img {
    display: none;
}

.about p {
    margin-bottom: 5vh;
}

.about p:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 600px) {
    .about div {
        width: 45%;
    }

    .about div:first-child {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .about p {
        font-size: 1.3em;
    }

    .about img {
        display: block;
        width: 20vw;
        height: auto;
    }
}