form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #eceeec;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10vw;
}

.main-content h5 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 10vh;
    position: relative;
}

section:last-of-type {
    margin-bottom: 5vh;
}

form>section:last-child {
    margin-bottom: 0;
}

.package {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.pack-size {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin-right: 50px;
    padding: 50px;
    text-align: center;
    position: relative;
    -webkit-transition: 80ms linear;
    -o-transition: 80ms linear;
    transition: 80ms linear;
    cursor: pointer;
    background-color: #fff;
}

.pack-size:hover {
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.pack-size-scaleUp {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
}

.pack-size:last-child {
    margin-right: 0;
}

.pack-size>label[name="pack-size"] {
    position: absolute;
    left: 20px;
    top: 20px;
}

.pack-size>label {
    font-weight: bold;
}

.pack-size>span {
    display: block;
    color: #555;
    font-size: .8em;
}

.pack-size .price {
    position: absolute;
    bottom: 50px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-decoration: underline;
}
input[type=radio] {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 15px;
    width: 15px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=submit],
select {
    width: 40%;
    display: block;
    margin-bottom: 10px;
}

input[type=text]:last-child,
input[type=email]:last-child,
input[type=tel]:last-child,
input[type=submit]:last-child,
select:last-child {
    margin-bottom: 0;
}

/* Mobile */

@media screen and (max-width: 1024px) {
    form {
        padding: 5vw;
    }

    section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .package {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .pack-size {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-bottom: 20px;
        margin-right: 0;
        padding: 20px;
    }

    .pack-size .price {
        position: static;
    }

    .pack-size>label[name="pack-size"] {
        position: absolute;
        left: 5px;
        top: 5px;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    select {
        width: 250px;
    }
}