/* Reset */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    scroll-behavior: smooth;
    background-color: #eceeec;
}

/* Nawigacja */

nav {
    background-color: rgba(71, 231, 79, .9);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    position: fixed;
}

nav p {
    -ms-grid-column-align: start;
    justify-self: start;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.25em;
}

.logo-link {
    width: 85px;
    height: auto;
}

.nav-logo {
    display: none;
}

nav ul {
    list-style-type: none;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

nav ul a:hover {
    text-decoration: none;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
}

.nav-option-services {
    position: relative;
}

.submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: transparent;
    padding: 10px;
    left: -10px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.submenu ul {
    display: block;
}

.submenu ul li {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-option-services:hover .submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.sec-submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: transparent;
    padding: 10px;
    left: 100%;
    top: 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.nav-option-delivery:hover .sec-submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media screen and (max-width: 600px) {

    .mobile-nav-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    
    .mobile-nav-container a {
        text-decoration: none;
        margin-left: auto;
        margin-right: 10px;
    }
    
    .mobile-menu-icon {
        max-width: 10%;
        min-width: 7%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .mobile-menu-icon img {
        width: 80%;
        height: auto;
    }

    .mobile-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: fixed;
        left: 100%;
        top: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: 100vh;
        padding: 0 10px;
        padding-top: 10px;
        background-color: #47E74F;
        z-index: 4;
        -webkit-transition: 150ms ease-out;
        transition: 150ms ease-out;
        overflow-y: scroll;
    }

    .mobile-nav a {
        margin-top: 20px;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .submenu,
    .sec-submenu {
        visibility: visible;
        opacity: 1;
        position: relative;
        top: initial;
        left: initial;
        -webkit-transform: unset;
        transform: unset;
    }

    .submenu {
        font-size: .9em;
        left: 5px;
    }

    .sec-submenu {
        font-size: .8em;
        left: 10px;
    }
    
    .submenu ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .nav-option-delivery .fas {
        -webkit-transform: unset !important;
        transform: unset !important;
    }

    .mobile-nav li {
        margin-left: 50px;
    }

    .mobile-nav>li:first-child {
        margin-left: 0;
    }
}

@media screen and (min-width: 600px) {
    nav {
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        font-size: 20px;
        padding: 20px;
        width: 100%;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .nav-container {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .mobile-nav-container, 
    .mobile-menu-icon {
        display: none;
    }

    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    nav ul a {
        padding: 10px 20px;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    nav ul a:hover {
        color: #3CC544;
    }

    .nav-logo {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
}

/* Główna zawartość */

main {
    width: 100%;
}

.main-container {
    width: 100%;
}

.main-content {
    width: 100%;
    padding: 15vh 10vw;
    margin-left: auto;
    margin-right: auto;
}

.main-content h1 {
    margin-bottom: 5vh;
}

main h1 {
    position: relative;
    text-transform: capitalize;
}

/* Stopka */

.footer {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    color: #777;
    font-size: .9rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
}

footer p {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

footer p:last-of-type {
    padding-bottom: 0;
}

footer a i {
    color: #777;
    font-size: 1.3rem;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

footer a {
    padding-left: 10px;
}

footer a:first-of-type {
    padding-left: 0;
}

.fa-envelope-square:hover {
    color:  #2fa037;
}

.fa-facebook-square:hover {
    color: #2D88FF;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.fa-twitter-square:hover  {
    color: #1D88D0;
}

/* Formularze */

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select {
    padding: 5px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus,
select {
    outline-color: #47E74F;
}

input[type=text]:invalid,
input[type=email]:invalid,
input[type=tel]:invalid,
input[type=number]:invalid,
textarea:invalid,
select:invalid {
    outline: solid #CC0000;
    outline-offset: -1px;
    outline-width: 1px;
}

input[type=text]:invalid:focus,
input[type=email]:invalid:focus,
input[type=tel]:invalid:focus,
input[type=number]:invalid:focus,
textarea:invalid:focus,
select:invalid:focus {
    outline-style: dashed;
    outline-width: 2px;
}

input[type=submit],
input[type=button],
button {
    background-color: transparent;
    border: 1px solid #47E74F;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 15px;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
    background-color: #47E74F;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
}

input[type=submit]:active,
input[type=button]:active,
button:active {
    border-color: #000;
}

@media screen and (max-width: 600px) {
    input[type=submit] {
        margin-top: 10px;
    }
}

/* Linki */

a {
    color: #47E74F;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: #000;
}

@-webkit-keyframes scrollAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes scrollAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}